# Virtual environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / packaging
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/

# Environment files
.env.local
*.env

# Logs
*.log

# OS-specific
Thumbs.db
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Tools
.mypy_cache/
.pyt
